*{
    font-family: var(--body-font);
    text-decoration: none;
    margin: 0;
    padding: 0px;
    transition: all 0.3s;
}
body{
    max-width: 100%;
    background: var(--bg-window)
}
.handmade{
    margin: 50px 100px;
    /* display: none; */
}
.handmade h1, .handmade h2, .handmade h3, .handmade p{
    color: var(--text-navbar-after-hover)
}

.handmade h1{
    font-size: var(--h1-font-size);
}
.handmade_product{
    display: grid;
    grid-template-columns: 25% 75%;
}
.product_list{
    width: 100%;;
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}