:root{
    /* ######### color ########## */
    --text-color:black;
    --title-color-white:white;
    --title-color-teal: rgb(64,83,87);
    --main-color: rgb(127,166,173);
    --bg-footer: rgb(96,125,129);
    --bg-window: rgb(248, 248, 248);
    --text-navbar-before-hover: rgb(127,166,173);
    --text-navbar-after-hover:rgb(64,83,87);
    /* ######### font size  ########## */
    --h1-font-size: 3.5rem;
    --h2-font-size: 3.25rem;
    --h3-font-size: 3rem;
    --logo-font-size: 2rem;
    --font-types-product:3.5rem;
    --font-medium:700;
    --font-text-footer:100;
    /* #### body font */
    --body-font: 'Poppins', sans-serif;
    /* #### button  ##### */
}